
<!DOCTYPE html>
<html lang="en" >
  <head>
      
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--local stylesheets-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/feedback.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="/stylesheets/post.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
      <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
  
     
    <title>Feedback App</title>

  </head>

  <body>







<!-- App starts Here-->


<div ng-app="FeedApp" ng-controller="homecontroller" >

 
      


   <!-- getting started page-->
     <div class="container" ng-show="currentPagerank==0">
          <br/><br/> <br/><br/><br/> <br/>
          <div class="jumbotron" >
                <h2>Getting Started</h2><br/>
            <h4>Click "Lets start button to get guidlines about how to use this app"</h4><br/>    
                  <button  class="btn btn-lg btn-danger" ng-click="currentPagerank=currentPagerank+1">Lets start</button>
                </p>
          </div>
     </div>
    
    


  <!-- Step 1 -->
     <div class="container" ng-show="currentPagerank==1">
           <br/><br/> <br/><br/><br/> <br/>
          <div class="jumbotron" >
           
                <h2>Step 1</h2><br/>
            <h4>First fill up your profile Details</h4><br/>
          
                  <button  class="btn btn-lg btn-danger" ng-click="currentPagerank=currentPagerank+1">next</button>
                </p>
          </div>
     </div>


  <!-- Step 2 -->
     <div class="container" ng-show="currentPagerank==2">
          <br/><br/> <br/><br/><br/> <br/>
          <div class="jumbotron" >
           
                <h2>Step 2</h2><br/>
            <h4>Response the feedback questions as per guidelines</h4><br/>
          
                  <button  class="btn btn-lg btn-danger" ng-click="currentPagerank=currentPagerank+1">next</button>
                </p>
          </div>
     </div>

 <!-- Step 3 -->
     <div class="container" ng-show="currentPagerank==3">
          <br/><br/> <br/><br/><br/> <br/>
          <div class="jumbotron" >
           
                <h2>Step 3</h2><br/>
            <h4>Press right corner exit button to submit it</h4><br/>
          
                  <button  class="btn btn-lg btn-danger" ng-click="currentPagerank=currentPagerank+1">next</button>
                </p>
          </div>
     </div>

  <!-- Start step3 -->
     <div class="container" ng-show="currentPagerank==4">
           <br/><br/> <br/><br/><br/> <br/>
          <div class="jumbotron" >
           
                <h2>Lets Start</h2><br/>
            <h4>Click below button start  feedback</h4><br/>
          
                  <button  class="btn btn-lg btn-danger"  ng-click="currentPagerank=currentPagerank+1">next</button>
                </p>
          </div>
     </div>


     


 
    <!-- profile page-->
 
 
       <!--customer Details -->
   <div class="container" ng-show=" currentPagerank==5">
    <form name="userForm" novalidate>
      <link rel="stylesheet" type="text/css" href="../css/profile.css">
        <br/><br/><br/>  <br/><br/><br/>  <br/><br/><br/>
        <!-- NAME -->
        <div ng-show="profileoptions==0" class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
       
             <span class="glyphicon glyphicon-large glyphicon-user"></span><br/><br/>
            <input type="text" name="name"  placeholder="full name"  class="form-control"  ng-model="newCustomer.Details.name " required>
            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
             
             <div ng-hide="userForm.name.$invalid && !userForm.name.$pristine">
                 <br/><br/> <span class="glyphicon  glyphicon-forward"></span>
                <button  class="btn btn-large btn-primary"  ng-click="profileoptions = profileoptions + 1">Next</button>
             </div>
        </div>
      
       

         <!-- USERNAME -->

        <div class="form-group" ng-show="profileoptions==1" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">

            
            <span class="glyphicon glyphicon-pencil"></span><br/><br/>
            <input type="text" name="username" placeholder="username" class="form-control" ng-model="newCustomer.Details.username" ng-minlength="3" ng-maxlength="8">
            <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
            <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
            
            
            
            <div ng-hide="userForm.username.$error.minlength || userForm.username.$error.maxlength" >
                  <br/><br/> <span  class="glyphicon  glyphicon-forward"></span>
                 <button  class="btn btn-large btn-primary" ng-click="profileoptions = profileoptions + 1">Next</button>
            </div>
            
            
            <!-- go prev if some wrong input or null input is ther-->
           
               <div ng-show="userForm.$invalid">
                <br/><br/> <span  class="glyphicon  glyphicon-backward"></span>
                        <button  class="btn btn-large btn-primary" ng-click="profileoptions = profileoptions - 1">Prev</button>
              </div>
            
            
        </div>
        
        <!-- EMAIL -->
        <div ng-show="profileoptions==2" class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            
            <span class="glyphicon glyphicon-envelope"></span><br/><br/>
            <input type="email"  placeholder="email" name="email"  ng-model="newCustomer.Details.email" class="form-control" >
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
             
             
            <div ng-hide="userForm.email.$invalid && !userForm.email.$pristine"> 
             <br/><br/> <span class="glyphicon  glyphicon-forward"></span>
             <button  class="btn btn-large btn-primary"  ng-click="profileoptions = profileoptions + 1">Next</button>
           </div>
               
             <!-- go prev if some wrong input or null input is ther-->
           
               <div ng-show="userForm.$invalid">
                
                       <br/><br/> 
                      <span  class="glyphicon  glyphicon-backward"></span>
                        <button  class="btn btn-large btn-primary" ng-click="profileoptions = profileoptions - 1">Prev</button>
             </div>
    
        </div>
       
        <!-- Mobil Number -->
        <div ng-show="profileoptions==3">
             
             <div  class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
            <span class="glyphicon glyphicon-phone"></span><br/><br/>
            <input type="text" name="mobno" class="form-control" placeholder="mobile number" ng-model="newCustomer.Details.mobNo " pattern="[789][0-9]{9}" ng-minlength="10">
            <p ng-show="userForm.mobno.$error.minlength" class="help-block">enter valid mobile no</p>
              
              
              <!-- go prev if some wrong input or null input is ther-->
              
              <div ng-show="userForm.$invalid">
                       <br/><br/> <span  class="glyphicon  glyphicon-backward"></span>
                        <button  class="btn btn-large btn-primary" ng-click="profileoptions = profileoptions - 1">Prev</button>
               </div>
               
               
        </div>
            <div ng-hide="userForm.$invalid">
              <br/><br/> <span class="glyphicon  glyphicon-forward"></span>
              <button type="submit" class="btn btn-large btn-primary"  ng-click="getfeedback()">Start Feedback </button>
            </div>
        </div>  
       
       
       
        
    </form>
   </div><!-- customer details end--
   
   









    

  <!--feedback page-->
  
   <div  ng-show="currentPagerank==6">
     
   
     <!-- feedback form loader-->
    <div class='loader'>
    <div class='loader_inner'>
     <img class='pawone' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/paw1.png'>
     <img class='pawtwo' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/l1.png'>
     <img class='pawone' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/paw2.png'>
     <img class='pawtwo' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/l2.png'>
     <img class='pawone' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/paw1.png'>
     <img class='pawtwo' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/l3.png'>
    <div class='div'>Loading feedback form...</div>
  </div>
  </div>
  
    <div class='tut'>
  <div class='tut_inner'>
    <h2>Drag the characters mouths to reflect your satisfaction</h2>
    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/Dec_31,_2015_22:28.gif'>
    <p>Ok</p>
  </div>
</div>
   

<div class='question'>
    <h1 ng-click="currentPagerank=currentPagerank+1">Exit</h1>
    <br/><br/>  <br/><br/>
</div>
<div class='feedbackform'>
  <div class='feedbackform_slide first active_slide'>
    <img class='sb monkey' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/sunburst.svg'>
    <div class='grad monkey'></div>
    <div class='feedbackform_slide__inner'>
      <h1 class='question_s'></h1>
      <h2>Drag the cheeky monkeys mouth up or down to reflect your satisfaction!</h2>
      <div class='character'>
        <div class='character_image'>
          <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/monkey.svg'>
        </div>
        <div class='character_smile'>
          <div class='smiler_input'>
            <input class='monkey' max='20' min='0' type='range'>
            <svg class='smile monkey' height='20px' version='1.1' width='70px' xmlns='http://www.w3.org/2000/svg'>
              <path d='M10 10 C 20 10, 40 10, 50 10' fill='transparent' stroke-linecap='round' stroke-width='4' stroke='#562911'></path>
            </svg>
          </div>
        </div>
      </div>
      <div class='rating monkey'>
        <span>Average</span>
        <img class='next' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/greenbutton3.png'>
      </div>
    </div>
  </div>
  <div class='feedbackform_slide'>
    <img class='sb rabbit' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/circback.svg'>
    <div class='grad rabbit'></div>
    <div class='feedbackform_slide__inner'>
      <h1 class='question_s'></h1>
      <h2>Drag the fluffy rabbits mouth up or down to reflect your satisfaction!</h2>
      <div class='character rabbit'>
        <div class='character_image'>
          <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/rabbit.svg'>
        </div>
        <div class='character_smile'>
          <div class='smiler_input'>
            <input class='rabbit' max='20' min='0' type='range'>
            <svg class='smile rabbit' height='20px' version='1.1' width='70px' xmlns='http://www.w3.org/2000/svg'>
              <path d='M10 10 C 20 10, 40 10, 50 10' fill='transparent' stroke-linecap='round' stroke-width='4' stroke='#562911'></path>
            </svg>
          </div>
        </div>
      </div>
      <div class='rating rabbit'>
        <span>Average</span>
        <img class='next' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/greenbutton3.png'>
        <img class='prev' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/greenbutton4.png'>
      </div>
    </div>
  </div>
  <div class='feedbackform_slide'>
    <img class='sb panda' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/hexback.svg'>
    <div class='grad panda'></div>
    <div class='feedbackform_slide__inner'>
      <h1 class='question_s'></h1>
      <h2>Drag the shy pandas mouth up or down to reflect your satisfaction!</h2>
      <div class='character'>
        <div class='character_image'>
          <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/panda.svg'>
        </div>
        <div class='character_smile'>
          <div class='smiler_input'>
            <input class='panda' max='20' min='0' type='range'>
            <svg class='smile panda' height='20px' version='1.1' width='70px' xmlns='http://www.w3.org/2000/svg'>
              <path d='M10 10 C 20 10, 40 10, 50 10' fill='transparent' stroke-linecap='round' stroke-width='4' stroke='black'></path>
            </svg>
          </div>
        </div>
      </div>
      <div class='rating panda'>
        <span>Average</span>
        <img class='next' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/greenbutton3.png'>
        <img class='prev' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/greenbutton4.png'>
      </div>
    </div>
  </div>
  <div class='feedbackform_slide'>
    <img class='sb lion' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/sunburst.svg'>
    <div class='grad lion'></div>
    <div class='feedbackform_slide__inner'>
      <h1 class='question_s'></h1>
      <h2>Drag the lions mouth up or down to reflect your satisfaction!</h2>
      <div class='character'>
        <div class='character_image'>
          <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lion.svg'>
        </div>
        <div class='character_smile'>
          <div class='smiler_input'>
            <input class='lion' max='20' min='0' type='range'>
            <svg class='smile lion' height='20px' version='1.1' width='70px' xmlns='http://www.w3.org/2000/svg'>
              <path d='M10 10 C 20 10, 40 10, 50 10' fill='transparent' stroke-linecap='round' stroke-width='4' stroke='black'></path>
            </svg>
          </div>
        </div>
      </div>
      <div class='rating lion'>
        <span>Average</span>
        <img class='next' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/greenbutton3.png'>
        <img class='prev' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/greenbutton4.png'>
      </div>
    </div>
  </div>
  <div class='feedbackform_slide'>
    <div class='feedbackform_slide__inner'>
      <div class='col_left'>
        <img ng-click="currentPagerank=currentPagerank+1" class='board' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/resultboard.png'>
        <div class='summary'>
               
        </div>

      </div>
     
    </div>
  </div>
</div>

   
</div><!-- feedback ends-->
    
    
    
    
    
      <!-- Exit 1 -->
     <div class="container" ng-show="currentPagerank==7">
           <br/><br/> <br/><br/><br/> <br/>
          <div class="jumbotron" >
           
                <h2>Thank you !!!!</h2><br/>
            <h4>Your response is submitted </h4>
            <h4>.Want more???<br/>click on Feedbacks</h4>
            <br/>
          
                  <button  class="btn btn-lg btn-danger" ng-click="getAnswers()">Feedbacks</button>
                </p>
          </div>
     </div>


   







<!--post previous page-->

<div id="PostIntroPage"  ng-show="currentPagerank==8" >
<h3>Have look at Feedbacks</h3>
 <br/>
 <button  ng-click="refreshPosts()" class="btn btn-lg btn-primary">See</button>
  <div class="phone">
  <div class="phone-shade"></div>
  <div class="phone-speaker"></div>
  <div class="phone-screen">
    <div class="phone-header">
      <div class="phone-menu"></div>
    </div>

  <!--Post -->
  <div class="phone-post" id="first-post">
    <div class="post-thumb"></div>
    <div class="line post-title-1"></div>
    <div class="line post-title-2"></div>
    <div class="line post-line-1"></div>
    <div class="line post-line-2"></div>
  </div>
    <!--Post -->
  <div class="phone-post">
    <div class="post-thumb"></div>
    <div class="line post-title-1"></div>
    <div class="line post-title-2"></div>
    <div class="line post-line-1"></div>
    <div class="line post-line-2"></div>
  </div>
    <!--Post -->
  <div class="phone-post">
    <div class="post-thumb"></div>
    <div class="line post-title-1"></div>
    <div class="line post-title-2"></div>
    <div class="line post-line-1"></div>
    <div class="line post-line-2"></div>
  </div>
    <!--Post -->
  <div class="phone-post">
    <div class="post-thumb"></div>
    <div class="line post-title-1"></div>
    <div class="line post-title-2"></div>
    <div class="line post-line-1"></div>
    <div class="line post-line-2"></div>
  </div>
    <!--Post -->
  <div class="phone-post">
    <div class="post-thumb"></div>
    <div class="line post-title-1"></div>
    <div class="line post-title-2"></div>
    <div class="line post-line-1"></div>
    <div class="line post-line-2"></div>
  </div>
    <!--Post -->
  <div class="phone-post">
    <div class="post-thumb"></div>
    <div class="line post-title-1"></div>
    <div class="line post-title-2"></div>
    <div class="line post-line-1"></div>
    <div class="line post-line-2"></div>
  </div>
    <!--Post -->
  <div class="phone-post">
    <div class="post-thumb"></div>
    <div class="line post-title-1"></div>
    <div class="line post-title-2"></div>
    <div class="line post-line-1"></div>
    <div class="line post-line-2"></div>
  </div>
  
</div> <!-- Phone Screen-->
  <div class="phone-button"></div>
</div><!--Phone -->
</div>








<!-- Posts--->

      <div style="width:100%; height:650px; overflow: auto;"  class="Container" ng-show="currentPagerank==11">
           <br/><br/>
         
       <div ng-repeat="x in CustomersLst">
           
             
             <div  class="container">
         
                <h4>(Temporaory Date)Posted At:20/03/1994</h4><br/>
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <strong>{{x.Details.name}}</strong>
                </div>
                  
                <div class="alert alert-success">
            
                    <h3><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></h3>
                    Service that You have provided is {{x.Feedback.Service}}.
                    Design of App is  {{x.Feedback.Design}}.
                    Performance of app is {{x.Feedback.Performance}}.                 
                </div>
           </div> 
            
      </div>
           
         <button  ng-click="refreshPosts()" class="btn btn-lg btn-primary"> <h4 class="glyphicon glyphicon-refresh" aria-hidden="true">Resfresh</h4></button>
          

    </div>


   







<!-- Local Scripts---->

<script src="/javascripts/app.js"></script>
<script src="javascripts/feedback.js"></script>
<script src="javascripts/post.js"></script>
<script src="javascripts/controller/homecontroller.js"></script>
      
 </div>     <!-- app edns here-->
    
      
  </body>
</html>

